/**************************/
/* SECTION GALLERY */
/**************************/
.section-gallery {
  padding: 0 1.5rem;
  transition: all 0.2s ease-in;
}

.gallery-slide-down {
  transform: translateY(40.32rem);
}

.gallery-heading {
  text-align: center;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 900;
  padding-bottom: 1.6rem;
}

.photo-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 1.5rem;
}

.gallery-item {
  height: 100%;
  width: 100%;
  min-height: 30rem;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s;
}

.gallery-item:hover {
  transform: scale(1.01);
}

.item1 {
  grid-column: span 2;
}

.item7 {
  grid-row: span 2;
}

.item11 {
  grid-row: span 2;
}

.item12 {
  grid-column: span 2;
}

.item13 {
  grid-row: span 2;
}
