* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2rem;
  line-height: 1.6;
  background-color: #121212;
  color: #fff;
}

.social-icon {
  width: 2.6rem;
  height: 2.6rem;

  transition: all 0.3s;
}

.social-icon:hover {
  color: #ccc;
  transform: scale(1.05);
}

/* HELPER/SETTINGS CLASSES */
.uppercase {
  text-transform: uppercase;
}

.center-text {
  text-align: center;
}

.hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/**************************/
/* NAVIGATION */
/**************************/
.header {
  padding: 3.2rem 1.5rem 0 1.5rem;
  margin-bottom: 4.5rem;
}

.main-nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-weight: 900;
  font-size: 1.8rem;
}

.main-nav-button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.8rem;
  letter-spacing: inherit;
}

/**************************/
/* SECTION INFO */
/**************************/
.section-info {
  padding: 0 1.5rem;
}

.info {
  position: relative;
  max-width: 85rem;
  margin: 0 auto;
}

.info-container {
  position: absolute;
  width: 100%;

  /* hides the container */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: all 0.2s ease-in;
}

.info-appear {
  padding: 10.5rem 0 9rem 0;

  /* makes container visible */
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/* SECTION INFO CONTENTS */

.info-content {
  display: grid;
  grid-template-columns: 0.75fr 0.75fr 0.5fr;
  font-weight: 300;
  font-size: 1.4rem;
  /* background-color: brown; */
}
.info-content > div {
  padding: 0 3rem;
}

.info-heading {
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1.04rem;
}

.info-equipment-list {
  list-style: none;
}

.info-icons-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.info-link:link,
.info-link:visited {
  text-decoration: none;
  color: #fff;
}

/**************************/
/* FOOTER */
/**************************/
.footer {
  padding: 4.5rem 0 3.2rem 0;

  transition: all 0.2s ease-in;
}

.footer-slide-down {
  transform: translateY(44.48rem);
}

.footer-content {
  text-align: center;
}

.footer-icons-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  padding-bottom: 0.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #fff;
}

.copyright {
  font-size: 1.2rem;
  font-weight: 500;
}
