/**************************/
/* NAVIGATION */
/**************************/
.header {
  padding: 3.2rem 1.5rem 0 1.5rem;
  margin-bottom: 0;
}

.main-nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
  font-weight: bold;
  font-size: 1.6rem;
}

.main-nav-button {
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.6rem;
  letter-spacing: inherit;
}

/**************************/
/* SECTION INFO */
/**************************/
.section-info {
  padding: 0 1.5rem;
}

.info {
  position: relative;
  max-width: 85rem;
  margin: 0 auto;
}

.info-container {
  position: absolute;
  width: 100%;

  /* hides the container */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: all 0.2s ease-in;

  /* background-color: crimson; */
}

.info-appear {
  padding: 10.5rem 0 9rem 0;

  /* makes container visible */
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

/* SECTION INFO CONTENTS */

.info-content {
  display: grid;
  grid-template-columns: 0.75fr 0.75fr 0.5fr;
  font-weight: normal;
  font-size: 1.4rem;
  /* background-color: brown; */
}
.info-content > div {
  padding: 0 3rem;
}

.info-heading {
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 1.04rem;
}

.info-equipment-list {
  list-style: none;
}

.info-icons-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.info-link:link,
.info-link:visited {
  text-decoration: none;
  color: #fff;
}
.social-icon {
  width: 2.6rem;
  height: 2.6rem;
}

/**************************/
/* SECTION CATEGORIES */
/**************************/

.section-categories {
  margin-top: 4.5rem;
  /* margin: 4.5rem 0; */
  padding: 0 1.5rem;
  transition: all 0.2s ease-in;
  /* background-color: blueviolet; */
}

.categories-slide-down {
  transform: translateY(44.48rem);
  /* transform: translateY(38.48rem); */
}

.categories-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.categories-gallery-item {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 300px;
  overflow: hidden;
  background-color: darkcyan;
}

.item1 {
  grid-column: span 2;
  grid-row: span 2;
  background-image: url(https://images.ctfassets.net/rcsshemzsz70/7F8SpV2yxorVocslZfTz6v/3435788298e05d41a1b1234dbf8ad7f2/DSC02199.jpg?w=1200);
}

.item2 {
  grid-column: span 1;
  grid-row: span 1;
  height: 500px;
  background-image: url("https://images.ctfassets.net/rcsshemzsz70/2kpGKxHhS27Tl7AJR9zh50/05aac40a832cac1c0fc67ca4117d912c/DSC00347_1.jpg?w=1200");
}
.item3 {
  grid-column: span 1;
  grid-row: span 1;
  height: 500px;
  background-image: url("https://images.ctfassets.net/rcsshemzsz70/5XqFLcJmQEsoiu2we24q84/b9aee5be1f9755bdd57c5e8933b595e1/000019__1_.jpg?w=1200");
}
.item4 {
  grid-column: span 1;
  grid-row: span 1;
  background-image: url("https://images.ctfassets.net/rcsshemzsz70/1UTZ8yWh3i2sOaiiYc282K/3e9c29060c8942c8b1c89470fc8f83ff/000030.jpg?w=1200");
}

.item5 {
  grid-column: span 1;
  grid-row: span 1;
  background-image: url("https://images.ctfassets.net/rcsshemzsz70/4PncN2PrmMISQ8k0ewkUuC/220c3a97caa07dc3e19a968ad3ea582b/01.jpg?w=1200");
}

/**************************/
/* FOOTER */
/**************************/
.footer {
  padding: 4.5rem 0 3.2rem 0;

  transition: all 0.2s ease-in;
}

.footer-slide-down {
  transform: translateY(44.48rem);
}

.footer-content {
  text-align: center;
}

.footer-icons-list {
  list-style: none;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  padding-bottom: 0.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: #fff;
}

.copyright {
  font-size: 1.2rem;
  font-weight: 500;
}
